.header {
    font-size: calc(10px + 2vmin);
    color: ghostwhite;
    text-align:center;
   }

.search-form{
    min-height: 10vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.search-bar{
    border: none;
    width:50%;
    padding: 10px;
}

.search-button{
    border: none;
    padding: 10px 20px;
    background-color: coral;
    color: white;
}